.main{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

.container h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.slogan {
    text-align: center;
    font-size: 3em;
}
.container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.container p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: hsl(313, 100%, 78%);
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    width: 10%;
    transition: 0.3s;
    margin: 0 auto;
}

.btn:hover {
    background-color: hsl(313, 100%, 65%);
}

