.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.search-container input{
    width: 100%;
    height: 20px;
    text-align: left;
    padding: 10px;
    background-color: hsl(313, 100%, 78%);
    border: 2px solid black;
    color : #000000;
}

.search-container input:focus{
   border-color: #ff52ff ;
}

.search-popup{
    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 50px;
    top: 10%;
}

.loading-message {
    text-align: center;
    font-style: italic;
    color: #999;
}

.error-message {
    text-align: center;
    color: red;
}

.no-results {
    text-align: center;
    color: #777;
}

.search-popup ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.search-popup li {
    padding: 10px;
    cursor: pointer;
    color : hsl(313, 100%, 78%);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.search-popup li:hover{
    background-color: hsl(313, 100%, 78%);
    color: white;
}

